.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 3vmin;
}

.form-group label{
    margin-bottom: 2vmin;
}

.agreement-container {
    margin-top: 25vmin;
    align-items: flex-start;
    text-align: left;
    justify-content: left;
    width: 70vw;
}

.agreement-container div{
    display:flex;
    align-items:center;
}

.agreement-container div label{
    font-size: 15px;
    margin-left: 3px;
    font-weight: normal !important;
}

.required:after{
    content:" *";
    font-weight:bold;
    color:red;
}
