<div class="container">
    <div class="form-group">
        <label for="name">Please put your name: </label>
        <input type="text" name="name" id="name" placeholder="Name" required>
    </div>
    <br>
    <div class="form-group">
        <label for="email">Please put your email: </label>
        <input type="email" name="email" id="email" placeholder="example@example.com" required>
    </div>
    <div class="agreement-container">
        <p>I agree to the terms and conditions:</p>
        %s
        <p><span style="color: red">*</span> - Required field</p>
    </div>
</div>
<script>
    let requiredFields = document.querySelectorAll('input[required]')

    // Loop through each required input element and add the 'required' class to its parent label
    requiredFields.forEach(function(inputElement) {
        const parentLabel = inputElement.parentElement.querySelector('label');
        if (parentLabel) {
            parentLabel.classList.add('required');
        }
    });

    requiredFields.forEach(function (field) {
        field.onclick = function () {
            if (field.type === "checkbox") {
                field.style.outline = '1px solid black'
            } else {
                field.style.border = '1px solid black';
            }
        };
    });

    function allChecked() {
        let emptyRequiredFields = [];
        requiredFields.forEach(function (field) {
            if (field.type === "checkbox") {
                if (!field.checked) {
                    emptyRequiredFields.push(field);
                    field.style.outline = '1px solid red'
                }
            } else if (field.value.trim() === "") {
                emptyRequiredFields.push(field);
                field.style.border = "1px solid red"
            }
        });
        return emptyRequiredFields.length > 0
    }
</script>