<div class="container">
    <div>
        <p class="small-font">Please select the task you would like to solve:</p>
        <label for="tasks">Task: </label>
        <select name="tasks" id="tasks">
            <option value="">TODO1</option>
            <option value="">TODO2</option>
        </select>
    </div>
    <br>
    <br>
    <br>
    <p class="small-font">Please select the language:</p>
    <div>
        <label for="language">Language: </label>
        <select name="language" id="language">
            <option value="">TODO1</option>
            <option value="">TODO2</option>
        </select>
    </div>
</div>