body{
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 46%, rgba(252,176,69,1) 100%);
}

p{
    font-size: 1.5em;
    font-family: "Georgia", Georgia, serif;
}

label{
    font-size: 1.1em;
    font-family: "Georgia", Georgia, serif;
    font-weight: bold;
}

label, select {
    display: inline-block;
    vertical-align: middle;
}

select {
    margin-left: 5px;
    font-size: 0.8em;
    padding: 6px;
    border: 1px solid #575555;
    border-radius: 4px;
    background-color: #c7c7c7;
    color: #282626;
    width: 200px;
}
